body { background: #a3082b; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 32px; display: flex; }
.block-logger-0 { color: #28e9ee; font-size: 17px; margin-bottom: 5px; }
.block-logger-1 { color: #e35a34; font-size: 20px; margin-bottom: 5px; }
.block-payment-2 { color: #d29caf; font-size: 14px; margin-bottom: 5px; }
.block-notify-3 { color: #c8d14b; font-size: 14px; margin-bottom: 5px; }
.block-auth-4 { color: #2a4696; font-size: 17px; margin-bottom: 5px; }